/* ここから下に記載していく */
@charset "utf-8"
.wrapper{
    max-width: 1366px;
    margin: auto;
}

/* Headerセクション */
.header-wrapper{
    display: flex;
    justify-content: space-between;
    height: 121px;
    align-items: center;
}

.logo-image{
    margin: 0 0 0 30px;
}

.nav-list{
    display: flex;
}

.nav-item{
    margin: 0 50px 0 0;
}

.nav-item>a{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;   
}

/* メインビジュアル */
.mainvisual{
    position: relative;
    margin: 0 0 60px;
}


.mainvisual-text{
    position: absolute;
    font-size: 48px;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-100%,0);
}

.mainvisual-text2{
    position: absolute;
    width: 800px;
    font-size: 36px;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,80%,0);
}

/* Bodyセクション */
body{
    background: white;
    width: 1366px;
    color: ;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.text-center{
    text-align: center;
}



/* Aboutセクション */
.profile__title{
    margin: 0 0 30px;
    font-size: 24px;
    color: #ffd61a;
    font-weight: bold;
    text-transform: uppercase;
}

.profile__summary{
    margin: 0 0 60px;
}

.profile__main{
    margin: 0 0 40px;
    line-height: 2.0;
}

.profile__end{
    margin: 0 0 80px;
    line-height: 2.0;
}

/* Imagesセクション */
.images__list{
    width: 1366px;
    display: flex;
}

.images__item{
    width: 25%;
}

/* Courseセクション */
.course__title{
    margin: 60px 0 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.course__summary{
    margin: 0 0 60px;
    line-height: 2.0;
}


/* NEWSセクション */
.news__title{
    margin: 60 0 30px;
    font-size: 24px;
    color: #ffd61a;
    font-weight: bold;
    text-transform: uppercase;
}

.news__eyecatch{
    margin: 0 0 30px;
}

.news__date{
    margin: 0 0 24px;
}

.news__body{
    width: 300px;
}

.btn{
    display: block;
    width: 300px;
    margin: auto;
    padding: 21px 0;
    background-color: #ffd61a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}


/* Contactセクション */
.contact{
    padding: 60px 0 140px;
}

.form-wrapper{
    width: 600px;
    margin: auto;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px;
}

.form-title{
    width: 180px;
    margin: 0 64px 0 0;
    padding: 16px 0 0 0;
}

.form-item{
    width: 328px;
    margin: 8px 0 8px 8px;
}

.form-parts{
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #bfbfbf;
    padding: 8px;
    width: 100%;
}

/* Footerセクション */

.footer{
    padding: 30px 0;
    background-color: #707070;
}

.copyrights{
    color: white;
}